{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "plugin:vue/essential",
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-console": "off",
    "no-debugger": "off",
    "no-mixed-spaces-and-tabs": "off",
    "vue/return-in-computed-property": "off"
  },
  "parserOptions": {
    "parser": "babel-eslint"
  }
}
